body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.required {
    color: red;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}

.form-group-inline {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group-inline input[type="checkbox"] {
    margin-right: 5px;
}

.checkbox-label {
    font-size: 14px;
    padding-top: 6px;
}

button {
    background-color: #316092;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2b70b9;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #316092;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

#password-strength {
    font-size: 12px;
    color: #555;
    margin-top: 5px;
    display: block;
}
